당신은 온라인 게임을 운영하고 있습니다. 같은 시간대에 게임을 이용하는 사람이 m명 늘어날 때마다 서버 1대가 추가로 필요합니다. 어느 시간대의 이용자가 m명 미만이라면, 서버 증설이 필요하지 않습니다. 어느 시간대의 이용자가 n x m명 이상 (n + 1) x m명 미만이라면 최소 n대의 증설된 서버가 운영 중이어야 합니다. 한 번 증설한 서버는 k시간 동안 운영하고 그 이후에는 반납합니다. 예를 들어, k = 5 일 때 10시에 증설한 서버는 10 ~ 15시에만 운영됩니다.

하루 동안 모든 게임 이용자가 게임을 하기 위해 서버를 최소 몇 번 증설해야 하는지 알고 싶습니다. 같은 시간대에 서버를 x대 증설했다면 해당 시간대의 증설 횟수는 x회입니다.

다음은 m = 3, k = 5 일 때의 시간대별 증설된 서버의 수와 증설 횟수 예시입니다.

### 3줄 요약
    - 같은 시간대에 m명 늘어날때 마다 서버 1대 증설
    - 1번 증설하면 K 시간 동안 운영
    - 최소 증설 횟수

In [57]:
table = [0]*(24)

In [58]:
players = [0, 2, 3, 3, 1, 2, 0, 0, 0, 0, 4, 2, 0, 6, 0, 4, 2, 13, 3, 5, 10, 0, 1, 5]
m = 3
k = 5

In [65]:
table

[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 1, 0, 4, 1, 1, 3, 0, 0, 1]

In [87]:
table = [0]*(24)
run_table = [0]*(24+k)
cur_ser = 0
cnt = 0
for i in range(len(players)):
    add_ser = int(players[i]/3)
    table[i] = add_ser
    
    for j in range(k):
        tmp_add = add_ser - run_table[i+j]
        if tmp_add >0 :
            run_table[i+j] = tmp_add
    print(run_table)

In [122]:
table

[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 2, 0, 1, 0, 4, 1, 1, 3, 0, 0, 1]

In [128]:
print(run_table)

[0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 2, 2, 2, 2, 4, 4, 4, 4, 4, 0, 1, 1, 1, 1, 1, 0]

In [145]:
table = [0]*(24)
run_table = [0]*(24+k)
cur_ser = 0 

ans = 0

for i in range(len(players)):
    need_ser = int(players[i]/m)    
    table[i] = need_ser

    if need_ser > run_table[i]:    
        tmp_add = need_ser - run_table[i]
        ans += tmp_add
        for j in range(k):    
            run_table[i+j] = run_table[i+j] + tmp_add

In [146]:
ans

7

In [ ]:
answer = 0
cur = 0
for i in range(len(run_table)):
    if run_table[i] > cur:
        ans+= run_table[i] - cur